
.v-error{
    border-color: red;
}

.v-success{
    border-color: green;
}

.v-error:focus{
    outline-color:red;
    box-shadow:0 0 10px red;
    border-color: red;
}

.v-success:focus{
    outline-color:green;
    box-shadow:0 0 10px green;
    border-color: green;
}







.d-block{
    height: 375px;
    }
    /* #card{
    display: flex;
    justify-content: space-around;
    } */
    #redes-sociais{
        display: flex;
    }
    

    #conteudoNavbarSuportado{
        font-family: 'Raleway', 'Extra-Light';
        font-size: small;
        text-shadow: 4px 4px 4px rgb(139, 137, 137);
        display: flex;
        
    }
    #search{
        justify-content: space-around;
        width: 775px;
    }
    #search:hover{
        color: rgba(203, 75, 226, 0.37);
    }
    #nome-site-footer{
        font-size: small;
        color: black;
    }

    #btnfinalizarcadastro {
        margin-bottom: 30px;
    }
